/* This folder will have all the components integrated inside Messages page along with their css style files
Modules will be used
This file is for styles outside components */

section.container {
    background: hsl(0, 0%, 93%);
    top: 65px;
    height: calc(100vh - 65px);
    /* hard coded - value of the top navbar */
    position: relative;
}

.containerChild {
    height: 100%;
}