.messages-container {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.message-container {
    width: 100%;
}

.left {
    align-self: baseline;
    margin-left: 2em;
}

.right {
    align-self: flex-end;
    margin-right: 2em;
    flex-direction: row-reverse;
}

.message-content {
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 1em;
    margin: .05em .5em .05em .5em;
    max-width: 70%;
}

.extra-margin {
    margin: .05em .5em .05em 2.5em;
}


.messages-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.messages-container::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 5px;
}