.main-container {
    height: 100%;
    position: relative;
}

.header {
    text-align: start;
    padding: 1em 3em;
    border-bottom: 1px solid var(--border-color);
    font-size: 1.5em;
    position: relative;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}

#info-toggle-btn-active {
    position: absolute;
    z-index: 3;
    right: 5vw;
}


.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.form-container {
    padding: 1em 2em;
    position: relative;
    max-width: 1200px;
    width: calc(100% - 4em); /* padding */
    margin: 0 auto;
}

.form-container input[type="text"] {
    width: calc(100% - 40px);
    background-color: #FFFBFB;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    outline: none;
    color: var(--accent-color);
    padding: .5em 2em;
}

.form-container input[type="text"]::placeholder {
    color: #C6C6C6;
}

.emoji-picker {
    position: absolute;
    top: -100%; /* Poziționează popup-ul deasupra */
    left: 0;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 10px; /* Setează raza colțurilor la 10px sau la valoarea dorită */
    padding: 10px;
    z-index: 999; /* Asigură-te că popup-ul este la suprafața imaginii */
}
.search_bar_messages{
    background-color: white;
    border-color: black;
}


.send-message-error {
    background-color: var(--border-color);
    position: absolute;
    bottom: 100%;
    padding: 1em;
    border-radius: 8px;
    border: 1px solid var(--accent-color);
    left: 50%;
    transform: translateX(-50%);
}