.auth-buttons button {
    background-color: #cccccc35;
    color: rgba(255, 255, 255, 0.116);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: 0.3s ease;
  }

  .auth-buttons button:hover {
    background-color: #999;
  }