.category-dropdown{   
    width: 258px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 187, 187);
    border-radius: 8px;
    background: fff;
    color: rgb(51, 0, 0);
}

.category{
    background: #fff !important;
    color: black;
    width: 258px !important;
}