.popup_create {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #ccbbbb;
    z-index: 999;
    background: #FAFAFA;
    box-shadow: 12px 8px 32px rgba(0, 0, 0, 0.2); /* X offset, Y offset, blur radius, color */

}

.relative-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.glass-bg-blur {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(5px);
}

.popup-inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header_edit {
    color: #200000;
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    text-align: left;
}

.header_edit h2 {
    margin: 0;
}

.title_content {
    border: 1px solid rgb(204, 187, 187);
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 12px;
    background-color: white;
    color: #200000;
}

.title {
    color: #200000;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.edit_content_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.edit_content {
    border: 1px solid rgb(204, 187, 187);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    background-color: white;
    color: black;
    width: 100%;
    min-height: 80px;
    max-height: 150px;
}

.button-popup {
    padding: 10px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
}
.primary-btn {
    background-color: #850000;
    color: #FAFAFA;
}

.sec-btn {
    border-color: #850000;
    color: #850000;
    background-color: #fff;
}

.primary-btn:hover {
    background-color: #570000;
    transition: ease-out 0.4s;
}

.sec-btn:hover {
    background-color: #850000;
    transition: ease-out 0.4s;
    border-color: transparent;
    color: #FAFAFA;
}

.create-post-popup-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.buttons_section{
display: flex;
flex-direction: row;
gap: 16px;
}

.X_btn{
position: absolute;
width: 24px;
height: 24px;
top: 30px;
right: 30px;
}

.close-button-popup {
    width: 24px;
    height: 24px;
}

.input-popup-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


input[type="file"]::file-selector-button {
    cursor: pointer;
    border: 1px solid #850000;
    color: #850000;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 14px;
    transition: ease-out 0.4s;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #850000;
    border: 1px solid transparent;
    color: #FAFAFA;
  }

.pop-up-div {
    position: relative;
    width: 100vh;
    height: 100vh;
}

.glass-effect-popup {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur;
}