/* Stilizare pentru pagina de cont utilizator */
.user-account-page {
  display: flex;
  flex-direction: column;
}

/*fix*/
.container-posts-list {
  align-items: center;
}
.container-posts-list div:not([class]) {
  display: none;
}
/*fix*/
.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-account-page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  gap: 30px;
  top: 65px;
  position: relative;
}

.user-account-sidebar {
  flex: 0 0 300px;
  /* position: fixed;*/
  position: relative;
  /* top: 65px;*/
  width: 300px;
  margin-right: 10px;
}

.user-account-info {
  display: flex;
  flex-direction: column; 

  position: relative;
  width: 500px;
  padding-top: 30px;
}

.account-info-container {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.user-account-settings {
  display: flex; /* Asigură că elementele sunt pe același rând */
  justify-content: flex-end; /* Aliniază conținutul la dreapta */
  align-items: center; /* Aliniază iconul și textul pe verticală */
  margin-bottom: 20px;
}

.account-settings-icon {
  width: 24px; /* Dimensiunea iconului */
  height: 24px;
  margin-left: 8px; /* Spațiu între text și icon */
}

.account-settings-text {
  font-size: 1rem;
  color: #007bff;
}


.info-user-name {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start; */
  align-self: center;
  margin-bottom: 20px;
}

.user-anonymous-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-id {
  font-size: 1rem;
  color: #333333;
}

.text-2xl {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
}

.info-stats-container {
  display: flex;
  margin-bottom: 20px;
}

.info-stats-posts-made,
.info-stats-comments,
.info-stats-votes {
  flex: 1;
  text-align: center;
  margin-right: -5px; /* Compensează marginile între elemente */
}

.info-stats-votes {
  margin-right: 0; /* Elimină margin-right pentru ultimul element */
}


.info-stats-text {
  font-size: 1rem;
  color: #666666;
}


.interests-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
