.landing-page {
  display: flex;
  flex-direction: column;
}

.landing-navbar-superior {
  display: flex;
  position: relative;
}
.landing-page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  gap: 30px;
  top: 65px;
  position: relative;
}

.landing-posts-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 830px;
  max-width: max-content;
}

.landing-main-content {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.landing-sidebar {
  flex: 0 0 300px;
  /* position: fixed;*/
  position: relative;
  /* top: 65px;*/
  width: 300px;
  margin-right: 10px;
}

.landing-side-containers {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 340px;
  padding-top: 30px;
}
