.landing-content {
    display: flex;
    
  }
  
  .landing-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
    padding-top: 30px;

    width: 830px;
  
  }
  