.search-filter-container {
    width: 100%;
}

/* .search-filter-title {
    display: flex;
    align-self: baseline;
} */

.search-filter-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-bottom: .5em;
    border-bottom: 1px solid var(--border-color);
}

.generic-btn {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #FCFBFB;
    background-color: #850000;
    padding: 16px 32px;
    border-radius: 8px;
    height: auto;
}

.generic-btn:hover, .generic-btn:target {
    background-color: #570000;
}