@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent-color: rgb(155, 25, 25);
}

.h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
}
.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  margin-bottom: 12px;
  color: var(--body-color);
}

.right-img {
  background-color: #f7ecec;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
.signup-form {
  font-family: "Poppins", sans-serif;
  background-color: #feffff;
}
.signup-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;

  width: 100%;
  height: 47px;
  border: none;
  background-color: var(--accent-color);
  color: white;
  transition: background-color 0.3s;
  margin-bottom: 19px;
}

.signup-btn:hover {
  background-color: rgb(105, 16, 16);
}

.signup-btn:active {
  background-color: rgb(79, 12, 12);
  transform: translateY(2px);
}
.signup-btn-white {
  background-color: ##fcf3f3;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;

  width: 100%;
  height: 47px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: background-color 0.3s;
  margin-bottom: 19px;
}
.signup-btn-white:hover {
  background-color: var(--accent-color);
  color: white;
}
.signup-btn-white:active {
  background-color: rgb(79, 12, 12);
  transform: translateY(2px);
}
@media (min-width: 1024px) {
  .hide {
    display: none;
  }
  .hide2 {
    display: block;
  }
}
@media (max-width: 1024px) {
  .hide {
    display: block;
  }
  .hide2 {
    display: none;
  }
}
.fundal {
  background-color: #fcf3f3;
}
