.notifications-dropdown {
    position: absolute;
    top: 80px; 
    right: 60px; 
    width: 300px;
    height: 500px;
    background-color: #FAFAFA; 
    border: 1px solid #E0C9C9;
    border-radius: 5px; 
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1); 
    display: flex; 
}