.search-container {
  display: flex;
}

.search-form {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 1px solid #850000;
  border-radius: 20px;
  padding: 8px 12px;
  gap: 4px;
}

.search-form input[type="text"] {
  width: calc(100% - 40px);
  background-color: transparent;
  border: none;
  outline: none;
  color: #200000;
}

.search-form input[type="text"]::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #E0C9C9; 
}

.search-form button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .search-container {
    display: none;
  }
}


