/* Ciprian 5 apr */
/* Posibil ca acest fisier să fie șters în viitor */
/* Preferabil vom avea css pe componente, nu pe pagini */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
