.auth-buttons {
  position: absolute;
  top: 10px;
  background-color: #570000;
  color: #FFFBFB;
  border: 1px solid #850000;
  border-radius: 100px;
  padding: 10px 24px;
  width: 95px;
  height: 44px;
  right: 20px; 
  cursor: pointer;
  gap: 10px;
}

@media (max-width: 768px) {
  .auth-buttons {
    right: 10px;
  }
}

.auth-buttons link {
  align-items: center;
}