.navbar_superior {
    background-color: #ffffff12;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-superior-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

