.navbar_superior {
    max-width: 100%;
    height: 65px;
    border: 0px 0px 1px 0px;
    border-bottom-color: #330000;
    background-color: #FFFBFB;
    border-bottom: 1px solid #E0C9C9;
  }
  

.navbar-superior-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  @media (max-width: 768px) {
    .navbar_superior {
      padding: 0 10px; 
    }
  }
