
/* DeleteConfirmationPopup.css */
.delete-confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid #ccbbbb;
  z-index: 999;
  background: #fafafa;
  gap: 40px;
  align-items: center;
  max-width: 500px;
  }

  .delete-confirmation-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .delete-confirmation-buttons {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  .delete-confirmation-popup p {
    color: #200000;
    /* width: 60%; */
  }

  .delete-confirmation-buttons .button-popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
  }
  
  .delete-confirmation-buttons .primary-btn {
    background-color: #850000;
    color: #FAFAFA;
  
}

.delete-confirmation-buttons .sec-btn {
    border-color: #850000;
    color: #850000;
    background-color: #fff;
}

.primary-btn:hover {
    background-color: #570000;
    transition: ease-out 0.4s;
}

.sec-btn:hover {
    background-color: #850000;
    transition: ease-out 0.4s;
    border-color: transparent;
    color: #FAFAFA;
}