@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --post-background: #fffbfb;
  --post-feedback-button-background: #f7ecec;
  --btn-more-options-hover: #dac5c5;
  --btn-feedback-section-click: #af3e3e;
}

.post {
  font-family: "Poppins", "sans-serif";
  border: 1px solid #e0c9c9;
  border-radius: 10px;
  width: calc(100vw - 660px); /* navbar stanga - 230 + gap - 30 * 2 + elemente dreapta 340 */
  max-width: 830px;
  padding: 20px;
  background-color: #fffbfb;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .post {
    width: calc(100vw - 320px);
  }
 }

 @media screen and (max-width: 768px) {
  .post {
    width: calc(100vw - 20px);
  }
 }

.btn_message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
  background: #fff;
  color: #200000;
  font-size: 20px;
  font-weight: 500;
}

.three-dots {
  cursor: pointer;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  padding: 3px;
  color: #757575;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.three-dots:hover {
  background-color: rgba(133, 0, 0, 0.1);
  transition: 0.2s ease-in;
}

.post_menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccbbbb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: max-content;
}

.post_menu_btn {
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  color: #200000;
}

.post_menu_btn:hover {
  background-color: #f0f0f0;
}

.postHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  color: #000000;
}

.userHeader h2 {
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;
  letter-spacing: -1%;
}

.userProfileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.postArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 2%;
  color: #000000;
}

.postFile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.postArticle p {
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.postArticle h1 {
  font-weight: 500;
  font-size: 18px !important;
  line-height: 27px;
  height: 27px;
  letter-spacing: -1%;
}

.feedback-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 2%;
}

.feedback-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 8px;

  padding: 8px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;

  color: #330000;
  background-color: var(--post-feedback-button-background);
  cursor: pointer;
  height: 40px;
}

.feedback-container p {
  font-size: 12px !important;
  font-weight: 400;
}

/*.feedback-container img {
  transform: translateY(1px); 
}*/

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 100px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.btn-upVotes:active img,
.btn-share:active img {
  transform: translate(0%, -20%) scale(1.000001);
}

.btn-downVotes:active img {
  transform: translate(0%, 20%) scale(1.000001);
}

.comm-btn {
  transition: background-color 0.29s ease;
}

.comm-btn:hover {
  background-color: var(--btn-more-options-hover);
}

.comm-btn:active {
  background-color: var(--btn-feedback-section-click);
}

/*.btn-upVotes img {
  transition: transform 0.3s ease;
}

.btn-upVotes:hover  img{
  transform: rotate(360deg);
}*/

/* Added by Ciprian - error pop-ups */

.error-msg {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #ccbbbb;
  border-radius: 8px;
}

/* .error-msg-comm {
  /* padding: 0.5em; */

/* media */

/* @media screen and (max-width: 768px) {
  .post {
    width: calc(100% - 20px);
  }

  .container {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }

  .userProfileImage {
    width: 20px;
    height: 20px;
  }

  .postArticle p {
    font-size: 12px;
  }
} */
