@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* DO NOT DELETE THIS 3 LINES EVEN IF HIGHLIGHTED AS PROBLEMS */
@tailwind base;
@tailwind component;
@tailwind utilities;

body{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

/* Temporary css - Ciprian 5 apr
Delete this when needed */

:root {
  font-family: "Poppins", sans-serif; /* Anastasia a facut import la font pentru intreg body ul*/
  line-height: 150%;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFBFB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
}

.temporary {
  border: 1px solid white;
  border-radius: 2em;
  padding: .5rem 2rem;
  color: hsl(160, 89%, 82%);
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

