.rules_container {
    height: auto;
    color: black;
    overflow-x: hidden !important;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.main-list-rules {
    display: flex;
    flex-direction: column;
    list-style-type: decimal;
    margin-bottom: 40px; 
    /* padding-left: 30px; */
}

.main-list-rules li {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 30px;
}

.sub-list-rules {
    list-style-type: decimal; 
}

.sub-list-rules li {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;

}
.rules_list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.rules_container h2 {
    font-size: 32px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 20px;
}


.rules_container h3 {
    font-size: 28px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 20px;
}

.rules_container h4 {
    font-size: 20px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 10px;
}

.rules_container p {
    margin-bottom: 12px;
}